<code>{{ list.id }}</code>
<code>{{ list.user.name }}</code>
<br>
<code>{{ list.title}}</code>


<form method="post" action="?type=return">
  {% csrf_token %}
  <button>return</button>
</form>

<form method="post" action="?type=delete_list">
  {% csrf_token %}
  <button>delete list</button>
</form>

<form method="post" action="?type=add_product">
  {% csrf_token %}
  {{form}}
  <button>add product</button>
</form>

<ol>
  {% for product in products %}
  <li>
    {{ product.name }} x{{product.amount}} {{product.id}}
    <form method="POST" action="{{product.get_absolute_url}}">
      {% csrf_token %}
      <button>delete</button>
    </form>
  </li>
  {% endfor %}
</ol>
