<h1>{{title}}</h1>

<!-- <button [disabled]="isDisabled">[disabled]="isDisabled"</button>
<button [disabled]="!isDisabled">[disabled]="!isDisabled"</button>
<button [class.active]="isActive" [class.no-active]="!isActive" [class.active-border]="isActive" [class.no-active-border]="!isActive">Click me</button>
<button [class.banana]="fruitName == 'banana'">fruit</button>
<button [style.background]="isActive?'red' : 'green'" [style.border]="isActive?'red' : 'green'">click</button> -->

<!-- <button (click)="buttonClick($event)">Click me</button> -->

<!-- <input type="text" (keyup.enter)="keyUp(user)" #user id="userInput"> -->

<!-- <input type="text" [value]="userName" #username (keyup.enter)="updateUserName(username)"> -->

<!-- <input type="text" [(ngModel)]="userName">
<h3>{{userName}}</h3> -->

<!-- <input type="text" [value]="textValue" (keyup.enter)="onKeyUp()"> -->

<!-- <input type="text" [(ngModel)] = "textValue" (keyup.enter)="onKeyUp()"> -->
<h2 *ngIf="!isLoggedIn">{{userName}}</h2>


@if(!isLoggedIn){
  <h3>user is not logged in</h3>
}
@else if (isLoggedIn) {
  {{userName}}
}

<ng-template #message>
  <h3>user is not logged in</h3>
</ng-template>
